html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
  }
  
  #root {
    height: 100vh;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .joinOut {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    
    background-color: #2a2a4e;
    
  }
  
  .joinIn {
    width: 25%;
    
  }
  
  .joinInputs {
    border-radius: 10px;
    padding: 15px 20px;
    width: 100%;
  }
  
  .heading {
    color: rgb(68, 223, 119);
    font-size: 2.5em;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(68, 223, 119);
    margin-top:100px;
  }
  
  .button {
      color: #fff !important;
      text-transform: uppercase;
      text-decoration: none;
      background: rgb(68, 223, 119);
      padding: 20px;
      border-radius: 5px;
      display: inline-block;
      border: none;
      width: 100%;
  }
  
  .mt-20 {
    margin-top: 20px;
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .joinOut {
      height: 100%;
    }
  
    .joinIn {
      width: 90%;
    }
  
  
  }
  
  button:focus {
    outline: 0;
  }